---
# Update System Packages Playbook
# Generic playbook for updating system packages
# Usage: ansible-playbook -i inventory update-packages.yml

- name: Update System Packages
  hosts: all
  become: yes

  tasks:
    - name: Update apt cache (Debian/Ubuntu)
      apt:
        update_cache: yes
        cache_valid_time: 3600
      when: ansible_os_family == "Debian"

    - name: Upgrade all packages (Debian/Ubuntu)
      apt:
        upgrade: dist
        autoremove: yes
        autoclean: yes
      when: ansible_os_family == "Debian"

    - name: Update yum cache (RHEL/CentOS)
      yum:
        update_cache: yes
      when: ansible_os_family == "RedHat"

    - name: Upgrade all packages (RHEL/CentOS)
      yum:
        name: "*"
        state: latest
      when: ansible_os_family == "RedHat"

    - name: Reboot if required (Debian/Ubuntu)
      reboot:
        reboot_timeout: 300
      when: 
        - ansible_os_family == "Debian"
        - reboot_required | default(false)

    - name: Reboot if required (RHEL/CentOS)
      reboot:
        reboot_timeout: 300
      when:
        - ansible_os_family == "RedHat"
        - reboot_required | default(false)
